* {font-family: Arial;}
html {height: 100%;}
body {background: url('../img/layout/body-bg.jpg'); min-height: 100%;}
h1 {font-size: 24px; color: #000; font-weight: normal; margin-top: 10px;}
h2 {font-size: 20px; color: #000; font-weight: normal; margin-top: 30px;}
h3 {font-size: 18px; color: #000; font-weight: normal; margin-top: 20px;}
p {margin-top: 20px; font-size: 16px; line-height: 22px; color: #4e4e4e;}
p a {color: #4e4e4e;}
.logo {margin: 0px 0px 30px 40px;}
ul.text li {color: #4e4e4e; list-style: disc; margin: 10px 0px 0px 40px;}
#main-holder {background: url('../img/layout/body-highlight-bg.jpg') no-repeat top center; padding: 3% 0px;}
#email-holder {width: 40%;  margin: 10px 0px 0px auto; padding: 0px 540px 2px 40px; color: #a55030; line-height: 180%;}
#email-holder a {color: #a55030;}
#email-holder p {line-height: 20px;margin:0px;}
#content-line-holder {background: #e9e9e9 url('../img/layout/content-holder-bg.jpg') repeat-x bottom left; margin: 0;}
#content-line-illustration {background: url('../img/layout/content-line-illustration.jpg') no-repeat right bottom; min-height: 550px; padding: 40px 0px;}
#content {width: 40%; text-align: left; margin: 0px 0px 0px auto; padding: 0px 540px 0px 0px;}
#menu {position: absolute; top: 30px; right: 265px; height: 350px; width: 230px; background: url('../img/layout/menu-bg.png') no-repeat;}
.menu-item {position: absolute; width: 200px; text-align: center;}
.menu-item a {color: #000; text-decoration: none; font-size: 14px;}
.menu-item.active a {color: #d35224; text-decoration: none; font-size: 22px;}
.menu-item.active {margin-top: -3px;}
.menu-item.two-lines.active {margin-top: -10px;}
#menu-about {top: 57px; left: 20px;} /*index*/
#menu-consultancy {top: 140px; left: -28px;} /*carrier-services*/
#menu-carrier-services {top: 246px; left: 20px;} /*about*/
.scroll-pane {height: 500px;}
blockquote {font-style:italic;}
small {font-size: 12px;}